<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('head')%>
</head>

<body>
    <!--头部-->
    <header class="bg-color">
        <!--导航-->
        <nav class="bg-nav">
            <h1>
                <%-include('logo')%>
            </h1>
            <%-include('menu')%>
                <div id="menu-btn"></div>
                <script src="js/menu.js"></script>
        </nav>
        <div class="nav-f">
            <p>当前位置：首页&nbsp;&gt;&nbsp;
                <span>新闻中心</span>
            </p>
        </div>
    </header>
    <!--内容-->
    <div class="view">
        <h4>
            <%=newInfo.wzTitle%>
        </h4>
        <span>
            <%=moment(newInfo.wzCreatedate).format('YYYY-MM-DD')%>&nbsp;&nbsp;&nbsp;
                <%=newView.wzAuthor%>
        </span>
        <img src="api/upload/download?fileName=<%=newInfo.wzThumb%>" alt="">
        <p>
            <%-newView.wzContent%>
        </p>
    </div>
    <!--底部-->
    <%-include('bottom')%>
</body>

</html>